@import '_setting.scss';

.header-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    justify-content: space-between;
    padding: 0 30px 0 78px;
    align-items: center;
    background-color: $black-gray;


    .header-left-container {
        display: flex;
        align-items: center;

        .header-logo {
            font-family: HIGHER;
            color: $main-color;
            font-size: 4rem;
            margin-bottom: 15px
        }

        .current-page {
            background-color: $white;
            font-family: UTM_AVO_BOLD;
            font-size: 0.9rem;
            height: 47.6px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            padding-bottom: 2px;
            border-radius: 23.8px;
            margin-left: 29px;
            width: 118px;
            justify-content: center;
        }
    }

    .header-right-container {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-icons {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;

            .header-icon-item-1 {
                width: 26px;
                height: 26px;
            }

            label {
                width: inherit;
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            input { display: none; }

            svg {
                font-size: 30px;
                color: $main-color;
            }

            &:first-child {
                svg {
                    font-size: 26px;

                    path {
                        stroke: $main-color;
                    }
                }

                span {
                    position: absolute;
                    bottom: 4px;
                    right: 4px;
                    background-color: $white;
                    font-family: UTM_AVO_BOLD;
                    font-size: 0.7rem;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    padding-bottom: 2px;
                }
            }

            .drop-down-user, .drop-down-notification {
                right: 0;
                width: 250px;
                padding: 10px 20px;
                border-radius: 12px;
    
                span {
                    cursor: pointer;
                    &:not(:last-child) { margin-bottom: 10px; }
                    &:hover { color: $main-color; }
                }
            }

            .drop-down-notification {
                left: 0;

                #none-notify {
                    width: unset;
                    height: unset;
                    position: unset;
                    background-color: unset;
                    font-size: 0.8rem;
                    display: unset;
                    font-family: UTM_AVO_BOLD_ITALIC;
                    &:hover { color: unset; }
                }
            }
        }


        .header-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $white;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .header-drop-down {
            position: absolute;
            background-color: $main-color-2;
            display: flex;
            flex-direction: column;
            color: $white;
            font-family: UTM_AVO_BOLD_ITALIC;
            font-size: 0.9rem;
            top: 50px;
        }
    }

    form {
        width: calc(100% - (250px + 250px));

        input {
            width: 100%;
            height: 40px;
            border-radius: 20px;
            outline: none;
            border: none;
            padding: 0 20px 2px 20px;
            color: $white;
            font-family: UTM_AVO_ITALIC;
            background-color: $main-color-2;
            color: $white;

            &::placeholder {
                color: $white;
            }
        }
    }
}