@import '_setting.scss';

.hot-song-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    // height: 234.8px;
    // position: relative;
}

hr {
    width: calc(100% - 20px);
    border: none;
    height: 2px;
    background-color: $main-color;
    margin: 20px auto;
}

.home-page-title {
    margin: 5px 10px 20px 10px;
    display: flex;
    justify-content: space-between;

    span {
        color: $main-color;
        font-family: UTM_AVO_BOLD_ITALIC;
    }
}

.recently-song-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;

    .recent-title-all {
        position: absolute;
        color: $white;
        font-family: UTM_AVO_ITALIC;
        top: -42px;
        right: 10px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        cursor: pointer;
    }

    &::after {
        content: '';
        width: 100px;
        height: 20px;
        position: absolute;
        right: 10px;
        top: -20px;
    }

    &:hover .recent-title-all {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
    }

    .recently-song-container-item {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;

        .recently-song-image {
            width: 220px;
            height: 220px;
            background-color: $main-color-2;
            border-radius: 20px;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: 0.3s ease;
                backface-visibility: hidden;
                margin: auto;
            }

            .middle-recently-song {
                transition: 0.3s ease;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);

                svg {
                    position: absolute;
                    bottom: -90px;
                    right: -90px;
                    font-size: 50px;
                    color: $main-color;
                }
            }


            &:hover {
                background-color: $black-gray;
                transition: 0.3s ease;

                img {
                    opacity: 0.5;
                    width: 105%;
                    height: 105%;
                }
                
                .middle-recently-song {
                    opacity: 1;
                }
            }
        }

        .recently-song-name {
            font-family: UTM_AVO_BOLD_ITALIC;
            color: $main-color;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 220px;
            text-align: center;
        }
        
        .recently-song-singer {
            font-family: UTM_AVO_ITALIC;
            color: $white;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 220px;
            text-align: center;

        }

    }
}

@media screen and (max-width: 1300px) {
    .hot-song-container {
        height: 202.8px;
    }
}

@media (min-width: 1170px) and (max-width: 1280px) {
    .recently-song-container {
        .recently-song-container-item {
            .recently-song-image {
                width: 180px;
                height: 180px;

                .middle-recently-song {
                    svg {
                        font-size: 40px;
                        bottom: -75px;
                        right: -75px;
                    }
                }
            }
            .recently-song-name, .recently-song-singer {
                width: 180px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .hot-song-container {
        height: 186.8px;
    }

    .recently-song-container {
        .recently-song-container-item {
            .recently-song-image {
                width: 180px;
                height: 180px;

                .middle-recently-song {
                    svg {
                        font-size: 40px;
                        bottom: -75px;
                        right: -75px;
                    }
                }
            }
            .recently-song-name, .recently-song-singer {
                width: 180px;
            }
        }
    }
}